/* school project css*/


body{
    background-color:#8CDB4B ;
    color:black;
    font-family:'Roboto', sans-serif;
    text-align:center;
}

#bio, #hobbies, #gallery {
    text-align: center;
    font-size: 13pt;
}

h1 {
    font-family: 'EB Garamond', serif;
    text-align: center;
}

h3 {
    font-size: 20pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1, h6 {
    font-size: 40pt;
    font-family: 'EB Garamond', serif;
    text-align: center;
}
 
.experience_points {
    font-size: 15pt;
    font-size: 2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 40pt;
    margin: 0.1em;
}

p {
    font-family: 'EB Garamond', serif;
    font-size: 20pt;
    text-align: center;
}


header{
    text-align: center;
}

#hero, footer {
    text-align: center;
    border: 2px solid #538F22;
    background-color:#85148F ;
    color:white;
}
#hero img {
    width:300px;
    margin-top:30px;
    border-radius: 20px;
    max-width:100%;
}

/* Resume */ 

#resume {
    align-items:center; 
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

#resume div b {
    font-family: 'EB Garamond', serif;
}

/* Projects */

.project-heading {
    margin-bottom: 30px;
}

#projects, .cards {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;  
}

.tools {
    background: #85148F;
    padding: 2px 5px;
    margin-right: 5px;
    border-radius: 10px;
    border: 2px solid #538F22;
    color:white;
    margin-bottom: 20px;
}

.cards h3 {
    padding-top: 10px;
    margin-bottom: 10px;
    background: #85148F;
    border-radius: 30px;
}

.project-icons {
    margin-top: 10px;
    margin-bottom: 5px;
}

.project-item {
    background-color: #538F22;
    border-radius: 25px;
    padding: 7px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* Project Media Query */



/*Gallery*/ 
#gallery{
  border: 2px solid #85148F ;
  margin-bottom: 2rem;
}

#gallery img{
    max-width:100%;
    border-radius: 10px;
}

#gallery figure{
    text-align:center;
}

/* hobbies list */

#hobbies {
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom: 3rem;
}

#hobbies ul{
    width:50%;
    margin-left:auto;
    margin-right:auto;
    font-size: 20px;
    font-family: 'EB Garamond', serif;
}

#hobbies ul li:nth-child(odd) {
    color: #D04BDB;
}

/* Blog */
#experience{
    border: 2px solid #9400FF;
    margin-bottom: 2rem;
    margin-top: px;
}

#experience div h3 {
    font-size: 25pt;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#experience div img {
    border-radius: 10px;
    width:100%;
    display:block;
}

#experience h2 {
    margin-top: 20px;
}

#experience div {
   padding:2rem;
   max-width:40rem;
   margin: 0 auto; 
}

#experience div p {
    padding:0.3rem 0;
    font-family: 'EB Garamond', serif; 
}

#experience div h3 {
    margin-bottom: 30px;
}


/* Video */
#video iframe {
    display:inline-block;
    max-width:100%;
    border: 2px solid black; 
}

#video img{
    display:inline-block;
    max-width:100%;
    border: 2px solid black;
    margin:20px;
}


/* Dropcaps */ 
.dropCap, #experience div h3 {
    color: #538F22;
    background-image: radial-gradient(#fff, #D04BDB);
    float: left;
    font-size: 3em; 
    padding: .25em;
    margin-right: .25em;
    margin-left: .25em;
    line-height: .65;
    border: 4px outset #85148F;
    font-family: 'Phudu', cursive;;
    text-shadow: 2px 2px 3px rgba(0,0,0,5);
    box-shadow: 5px 5px 5px rgba(0,0,0,5);
    border-top-left-radius: .2em;
    border-bottom-right-radius: .2rem;
    text-align: center;
}

/*  blog for laptop screen */
#experience div h3 {
    float:none;
    margin:0 auto;
}

/* blog for mobile */
@media screen and (max-width:60em) {
    #experience div h3 {
        max-width:85%;
    }

    #projects {
        grid-template-columns: 1fr;
    }
}





@media screen and (min-width:60em) {

    figure {
        display:grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:2rem;
        margin-left: 1rem;
        font-family: 'EB Garamond', serif;
    }

    figure img{
        width:100%;
    }

    #experience div {
        max-width:100%;
        columns:20rem;
    }
} 

/* large screen size */

@media screen and (min-width:100em){
    #gallery {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr{
        display:none;
    }

    #gallery h2 {
        grid-column:  1/-1;
    }

    figure {
        display:block;
    }
}


/* Contact Form */
#contact {
    text-align: left;
    padding:1rem;
    max-width:600px;
    margin: 2rem auto;
}

#formElements {
    display:grid;
    row-gap: 0.5em;
}


#contact input, #contact textarea, #contact select, #contact button {
    padding: 0.5em;
    font-size: 1rem;
    font-family: 'EB Garamond', serif;
}

legend {
    background-color:#85148F;
    color:white;
    padding: 0.5rem;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact li {
    margin: 1rem;
}

#contact button {
    background-color: #85148F;
    color:white;
    border: 1px solid #538F22;
    max-width: 400px;
    width:50%;
    justify-self: center; 
}

/* Socials */

#socialsHeading {
    font-size: 40pt;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

#socials {
    align-items:center; 
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: 10px;
}

/* Back to the top button */

#back-to-top {
    align-items:center; 
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    margin-bottom: -55px;
}

h5 {
    text-align: center;
    margin-top: 30px;
}